.medium-zoom-overlay {
  z-index: 99;
}

.medium-zoom-image {
  z-index: 100;
}

.VPButton.medium.danger {
  background-color: #cc3a3a;
  color: white;
  border-color: var(--vp-button-brand-border);
}